{% extends "base.html" %}
{% block main %}

<h1>{{ title }}</h1>
<script>
          function apparaitre(box,bouton,phrase){
            if(document.getElementById(box).style.display == "inline"){
              document.getElementById(box).style.display = "none";
              document.getElementById(bouton).value = phrase;
            }
            else{
              document.getElementById(box).style.display = "inline";
              document.getElementById(bouton).value = phrase+" :)";
            }
          }

</script>

{% if message|default('') %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %}
<div class="container">
<input id="bgenre" type="button"  class="btn btn-default" name="button" value="Modifier genre" onclick="apparaitre('box1','bgenre','Modifier genre')"/>
<input id="balbum" type="button"  class="btn btn-default" name="button" value="Modifier album" onclick="apparaitre('box2','balbum','Modifier album')"/>
<input id="bchanteur" type="button"  class="btn btn-default" name="button" value="Modifier chanteur" onclick="apparaitre('box3','bchanteur','Modifier chanteur')"/>
<input id="bAddgenre" type="button"  class="btn btn-default" name="button" value="Ajouter genre" onclick="apparaitre('box4','bAddgenre','Ajouter genre')"/>
<input id="bAddchanteur" type="button"  class="btn btn-default" name="button" value="Ajouter chanteur" onclick="apparaitre('box5','bAddchanteur','Ajouter chanteur')"/>
<input id="bAddalbum" type="button"  class="btn btn-default" name="button" value="Ajouter album" onclick="apparaitre('box6','bAddalbum','Ajouter album')"/>

<br><br>
</div>
<!--
Formulaire de modification genre
 -->
<div class="container">
<div id="box1">
  <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
    {{ form1.hidden_tag() }}
    <div class="row">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
                {{ form1.genre.label }}
            </label>
            <div class="col-sm-5">
                {{ form1.genre(class="form-control") }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
                {{ form1.nom.label }}
            </label>

            <div class="col-sm-5">
                {{ form1.nom(size=50, class_="form-control", placeholder="Password") }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">Modifier</button>
        </div>
    </div>
  </form>
</div>

<!--
Formulaire de modification d'album
 -->
 <div id="box2">
   <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
     {{ form2.hidden_tag() }}
     <div class="row">
         <div class="form-group">
             <label for="password" class="col-sm-2 control-label">
                 {{ form2.albums.label }}
             </label>

             <div class="col-sm-5">
                 {{ form2.albums(class="form-control") }}
             </div>
         </div>
     </div>
     <div class="row">
         <div class="form-group">
             <label for="password" class="col-sm-2 control-label">
                 {{ form2.nom.label }}
             </label>

             <div class="col-sm-5">
                 {{ form2.nom(size=50, class_="form-control", placeholder="Password") }}
             </div>
         </div>
     </div>
     <div class="row">
         <div class="form-group">
             <label for="password" class="col-sm-2 control-label">
                 {{ form2.chanteur.label }}
             </label>

             <div class="col-sm-5">
                 {{ form2.chanteur(size=50, class_="form-control", placeholder="Password") }}
             </div>
         </div>
     </div>
     <div class="row">
         <div class="form-group">
             <label for="password" class="col-sm-2 control-label">
                 {{ form2.annee.label }}
             </label>

             <div class="col-sm-5">
                 {{ form2.annee(size=50, class_="form-control", placeholder="Password") }}
             </div>
         </div>
     </div>
     <div class="form-group">
         <div class="col-sm-offset-2 col-sm-9">
             <button type="submit" class="btn btn-default">Modifier</button>
         </div>
     </div>
   </form>
 </div>

 <!--
 Formulaire de modification Album
  -->
  <div id="box3">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
      {{ form3.hidden_tag() }}
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form3.artistes.label }}
              </label>
              <div class="col-sm-5">
                  {{ form3.artistes(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <label for="password" class="col-sm-2 control-label">
                  {{ form3.nom.label }}
              </label>

              <div class="col-sm-5">
                  {{ form3.nom(size=50, class_="form-control", placeholder="Password") }}
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default">Modifier</button>
          </div>
      </div>
    </form>
  </div>

  <div id="box4">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
      {{ form4.hidden_tag() }}
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form4.genre.label }}
              </label>
              <div class="col-sm-5">
                  {{ form4.genre(size=50, class="form-control", placeholder="Nom") }}
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default">Ajouter</button>
          </div>
      </div>
    </form>
  </div>

  <div id="box5">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
      {{ form6.hidden_tag() }}
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form6.chanteur.label }}
              </label>
              <div class="col-sm-5">
                  {{ form6.chanteur(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default">Ajouter</button>
          </div>
      </div>
    </form>
  </div>

  <div id="box6">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('administration') }}">
      {{ form5.csrf_token }}
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form5.nomss.label }}
              </label>
              <div class="col-sm-5">
                  {{ form5.nomss(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form5.chanteurss.label }}
              </label>
              <div class="col-sm-5">
                  {{ form5.chanteurss(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form5.anneess.label }}
              </label>
              <div class="col-sm-5">
                  {{ form5.anneess(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form5.imgss.label }}
              </label>
              <div class="col-sm-5">
                  {{ form5.imgss(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">
                  {{ form5.genress.label }}
              </label>
              <div class="col-sm-5">
                  {{ form5.genress(class="form-control") }}
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default">Ajouter</button>
          </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
