{% extends "base.html" %}
{% block main %}

<h1>{{ title }}</h1>
<div class="row">
  <div class="col-sm-3 col-md-3">
    {% if img != None %}
      <img id="pochette" src="/static/images/images/{{ img }}" onerror="this.src='http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture'" alt="...">
    {% else %}
      <img id="pochette" src="http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture" alt="...">
    {% endif %}
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <p><h3>Ecrit par</h3></p>
        <p><h5>{{ chanteur.nom }}</h5></p>
        <p>{{ annee }}</p>
      </div>
    </div>
  </div>
  {% if current_user.is_authenticated %}
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <div class="caption">

          <form class="form-horizontal" role="form" method="POST" action="{{ url_for('un_album',id=id) }}">
              {{ form.csrf_token }}
              <div class="row">
                  <div class="form-group">
                      <div class="col-sm-offset-1 col-sm-10">
                          {{ form.playlists(class="form-control") }}
                      </div>
                  </div>
                  <div class="col-sm-offset-1 col-sm-9">
                      <button type="submit" class="btn btn-default">Ajouter</button>
                  </div>
              </div>
          </form>

      </div>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
