{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<div class="row">
  {% for e in donnees %}
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      {% if e.img != None %}
        <img id="pochette" src="/static/images/images/{{ e.img }}" onerror="this.src='http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture'" alt="...">
      {% else %}
        <img id="pochette" src="http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture" alt="...">
      {% endif %}
      <div class="caption">
        <p> <a href="/albums/{{ e.id }}"><h5>{{ e.nom }}</h5></a></p>
        {% if current_user.admin %}
        <a href="/albums/supprimer/{{ e.id }}" class="btn btn-danger" role="button">Supprimer</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
