{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<p>Tous les albums de l'artiste</p>

<div class="row">
  {% for e in artiste %}
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      {% if e.img != None %}
        <img id="pochette" src="/static/images/images/{{ e.img }}"  onerror="this.src='http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture'"alt="...">
      {% else %}
        <img id="pochette" src="http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture" alt="...">
      {% endif %}
      <div class="caption">
        <p><h5>{{ e.nom }}</h5></p>
        <a href="/albums/{{ e.id }}" class="btn btn-default" role="button">Voir</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
