{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super () }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}" />
<script type="text/javascript" src="{{ url_for('static', filename='fonction.js')}}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xlp1/v/t35.0-12/s2048x2048/13120357_10209898895172664_1243869074_o.jpg?oh=d5f2fe0b60e9e76805d844f66b0fe3e0&oe=572B992C" width="80px" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">AFFICHER<span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="/artistes">Artistes</a></li>
                        <li><a href="/albums">Albums</a></li>
                        <li><a href="/genres">Genres</a></li>
                    </ul>
                </li>
                <li><a href="/recherche">RECHERCHER</a></li>
                {% if current_user.admin %}
                <li><a href="/admin">ADMIN</a></li>
                {% endif %}
            </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" id="user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">PLAYLISTS</li>
                        <li><a href="/playlist/users/{{ current_user.username }}">Mes playlists</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">MON PROFIL</li>
                        <li><a href="/users/{{ current_user.username }}">Modifier</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">DECONNEXION</li>
                        <li><a href={{ url_for('logout') }} ><span class="glyphicon glyphicon-log-out"
                        title="Logout"></span></a></li>
                    </ul>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">ESPACE MEMBRE<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/register">S'inscrire</a></li>
                        <li><a href="/login">Connexion</a></li>
                    </ul>
                </li>
                {% endif %}
              </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
{% block content %}
{%- if request.path == "/" %}
<div class="ban">
  <img src="/static/ban.jpg" id="ban" alt="baniere" title="ban">
</div>
{% endif %}
<div id="main" class="container theme-showcase" role="main">
    {% block main %}{% endblock %}
</div>
{% endblock %}
