{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>

<div class="row">
  {% for e in donnees %}
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <p><a href="/genres/{{ e.id }}"><h5>{{ e.nom }}</h5></a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
