{% extends "base.html" %}
{% block main %}
<div class="container">
  <div class="row">
    {% if playlists is not none %}
      {% for e in playlists %}
    <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="thumbnail" id="thumb">
                <div class="caption">
                    <h4>{{ e.nom }}</a></h4>
                    <p>{{ e.description }}</p>
                    <p><a href="/users/{{ e.nameUser }}" class="label label-danger">By {{ e.nameUser }}</a>
                    <a href="/playlist/users/{{ e.id }}" class="label label-info">Voir</a></p>
                </div>
                <img id="pochette" src="{{ e.img }}" alt="Image playlist">
            </div>
        </div>
        {% endfor %}
      {% endif %}
  </div>
</div>
{% endblock %}
