{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>

<div class="row">
  <div class="list-group col-sm-6">
    {% for e in donnees %}

    <a href="/playlist/users/{{ e.id }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ e.nom }}</h4>
      <p class="list-group-item-text">{{ e.description }}</p>
      <p>
        {% if e.public == 1 %}
          <span class="label label-warning">Privé</span>
        {% else %}
          <span class="label label-info">Public</span>
        {% endif %}
      </p>
    </a>
  <a href="/playlist/users/{{ current_user.username }}/supprimer/{{ e.id }}">Supprimer</a>
    {% endfor %}
  </div>


  <div class="thumbnail col-sm-6">
    <div class="caption">
        <h3>Créer playlist</h3>
        <form class="form-horizontal" role="form" method="POST" action="{{ url_for("playlist",nom=current_user.username)}}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">
                    {{ form.nom.label }}
                </label>

                <div class="col-sm-5">
                    {{ form.nom(size=50, class_="form-control", placeholder="Nom de la playlist") }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">
                    {{ form.description.label }}
                </label>

                <div class="col-sm-5">
                    {{ form.description(size=50, class_="form-control", placeholder="Description") }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">
                    {{ form.public.label }}
                </label>

                <div class="col-sm-1">
                    {{ form.public() }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">
                    {{ form.image.label }}
                </label>

                <div class="col-sm-5">
                    {{ form.image(size=50, class_="form-control", placeholder="Lien d'image") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-default"  >Ajouter</button>
            </div>
        </div>
        </form>
      </div>
  </div>

</div>

{% endblock %}
