{% extends "base.html" %}
{% block main %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title" id="myModalLabel">Connexion</h2>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" role="form" method="POST" action="{{ url_for('login') }}">
                            {{ form.hidden_tag() }}
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  {{ form.username(size=50, class_="form-control", placeholder="Pseudo",id="username") }}
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  {{ form.password(size=50, class_="form-control", placeholder="Mot de passe",id="password") }}
                                  <span class="help-block"></span>
                              </div>

                              <button type="submit" class="btn btn-success btn-block">Se connecter</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Inscrit toi <span class="text-success">GRATUITEMENT</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Créé tes playlists</li>
                          <li><span class="fa fa-check text-success"></span> Ajoute des albums</li>
                          <li><span class="fa fa-check text-success"></span> Visite d'autres playlists</li>
                          <li><span class="fa fa-check text-success"></span> Et plus encore...</li>
                      </ul>
                      <p><a href="/register" class="btn btn-info btn-block">Inscris toi !</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
