{% extends "base.html" %}
{% block main %}

<h1>{{ playlist.nom }}</h1>

<div class="row">
  {% for e in donnees %}
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      {% if e.img != None %}
        <img id="pochette" src="/static/images/images/{{ e.img }}" onerror="this.src='http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture'" alt="...">
      {% else %}
        <img id="pochette" src="http://dummyimage.com/230x230/2f364a/ffffff&text=No+picture" alt="...">
      {% endif %}
      <div class="caption">
        <p><h5>{{ e.nom }}</h5></p>
        <a href="/albums/{{ e.id }}" class="btn btn-default" role="button">Voir</a>
        {% if user==current_user.username %}
        <a href="/playlist/users/supprimer/{{ playlist.id }}/{{ e.id }}" class="btn btn-danger" role="button">Supprimer</a>

        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
