{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>

<input type="button"  class="btn btn-default" name="button" value="Modifier mot de passe" onclick="afficher()"/>
<div id="box1">
  <form class="form-horizontal" role="form" method="POST" action="{{ url_for('affiche_profil',username=username) }}">
    {{ form.hidden_tag() }}
    <br>
    <div class="row">
        <div class="form-group">
            <label for="prevPassword" class="col-sm-3 control-label">
                {{ form.prevPassword.label }}
            </label>
            <div class="col-sm-5">
                {{ form.prevPassword(size=50, class_="form-control") }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="newPassword" class="col-sm-3 control-label">
                {{ form.newPassword.label }}
            </label>
            <div class="col-sm-5">
                {{ form.newPassword(size=50, class_="form-control") }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="confPassword" class="col-sm-3 control-label">
                {{ form.confPassword.label }}
            </label>
            <div class="col-sm-5">
                {{ form.confPassword(size=50, class_="form-control") }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">Valider</button>
        </div>
    </div>
  </form>
</div>

{% endblock %}
