{% extends "base.html" %}
{% block main %}
<h1>{{ title2 }} de {{ username }}</h1>

<div class="row">
  {% for e in donnees %}
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img id="pochette" src="{{ e.img }}" alt="...">
      <div class="caption">
        <p><h4><strong>{{ e.nom }}</strong></h4></p>
        <p>{{ e.description }}</p>
        <a href="/playlist/users/{{ e.id }}" class="btn btn-default" role="button">Voir</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
