{% extends "base.html" %}
{% block main %}

<h1>{{ title }}</h1>


<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="POST" action="{{ url_for('recherche') }}">
          {{ form.csrf_token }}

          <div class="form-group">
              <label for="username" class="col-sm-4 control-label">
                  {{ form.element.label }}
              </label>

              <div class="col-sm-4">
                  {{ form.element(size=20, class_="form-control", placeholder="Rechercher") }}
              </div>
                <button type="submit" class="btn btn-default">Go !</button>
          </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  {% if playlists is not none %}
  <div class="list-group">
    <h1>Playlists</h1>
      {% for e in playlists %}
      <a href="/playlist/users/{{ e.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ e.nom }}</h4>
        <p class="list-group-item-text">{{ e.description }}</p>
      </a>
      {% endfor %}

  </div>
  {% endif %}
</div>

<div class="row">
  {% if albums is not none %}
  <div class="list-group col-sm-4">
    <h1>Albums</h1>
      {% for e in albums %}
      <a href="/albums/{{ e.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ e.nom }}</h4>
      </a>
      {% endfor %}
  </div>
  {% endif %}

  {% if genres is not none %}
  <div class="list-group col-sm-4">
    <h1>Genres</h1>
      {% for e in genres %}
      <a href="/genres/{{ e.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ e.nom }}</h4>
      </a>
      {% endfor %}
  </div>
  {% endif %}

  {% if artistes is not none %}
  <div class="list-group col-sm-4">
    <h1>Artistes</h1>
      {% for e in artistes %}
      <a href="/artistes/{{ e.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ e.nom }}</h4>
        <p class="list-group-item-text">{{ e.description }}</p>
      </a>
      {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}
