{% extends "base.html" %}
{% block main %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title" id="myModalLabel">Inscription</h2>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="well">
                          <form id="loginForm" role="form" method="POST" action="{{ url_for('register') }}">
                            {{ form.hidden_tag() }}
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  {{ form.username(size=50, class_="form-control", placeholder="Pseudo",id="username") }}
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  {{ form.password(size=50, class_="form-control", placeholder="Mot de passe",id="password") }}
                                  <span class="help-block"></span>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">S'inscrire</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
