{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for e in donnees %}
    <tr>
        <td><a href="/users/{{ e.id }}">{{ e.username }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
