h1{
     color: black;
     margin-bottom:2em;
}

div.sample{
	text-align:center;
	margin-left:25%;
	margin-right:25%;
}
#pochette{
  width:230px;
  height:230px;
}
#main{
	margin-top: 5em;
	text-align:center;
}

body{
	font-family: 'Montserrat', sans-serif;
}

#box1 , #box2, #box3,#box4,#box5,#box6
    {
      display:none;
    }


.navbar{
  background-color: #2F364A;
}

.navbar-inverse .navbar-toggle {
    border-color: #2F364A;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}



.navbar-inverse {
    background-color: #2F364A;
    border-color: #2F364A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2F364A;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #C3C3C3;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #C3C3C3;
    background-color: #2F364A;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #FFF;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    background-color: #1A2430;
    border-color: #1A2430;
}

.dropdown-menu > li > a:hover {
    color:#C3C3C3;
    background-color: #1A2430;
    border-color: #1A2430;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #C3C3C3;
    white-space: nowrap;
    background-color: #1A2430;
    border-color: #1A2430;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-color: #1A2430;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #1A2430;
    border-color: #1A2430;
}

.panel-primary{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border:1px solid #2F364A;
}
.panel-primary > .panel-body{
  min-height: 80px;
}

.panel-primary > .panel-heading{
  background-color: #2F364A;
  text-transform : capitalize;
}

.panel-primary > .panel-heading a:hover{
  text-decoration:none;
  color:#C3C3C3;
}
.panel-primary > .panel-footer {
    background-color: #2F364A;
    color:#C3C3C3;
}
.panel-primary > .panel-footer a{
  color:#C6C6C6;
}

.panel-primary > .panel-footer a:hover{
  color:#A1A1A1;
  text-decoration:none;
}

.btn-info{
  background-color: #2F364A;
  border:1px solid #2F364A;
}

.btn-info:hover{
  background-color: #384260;
  border:1px solid #384260;
}

#thumb {
    position:relative;
    overflow:hidden;
}

#thumb .caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(56, 66, 96, 1);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#thumb:hover .caption {
    top:0%;
}

#ban{
  width : 100%;
  margin-top:3em;
}
